.wrap {
  width: 100%;
}
.wrap .title {
  text-align: center;
  font-size: 18px;
  color: #999;
}
.wrap .table .color-0 {
  background: skyblue;
}
.wrap .table .color-1   {
  background: #FF6A6A;
}

.color-2 .color-3{
  background: #843900;
}

.color-4{
  background: #6950a1;
}

.wrap .table :global th {
  width: 20px;
}
