.wrap {
  width: 100%;
  .title {
    text-align: center;
    font-size: 18px;
    color: #999;
  }
  .table {
    :global {
      th {
        width: 20px;
      }
    }
  }
}
.color-0 {
  background: #eed2ee;
}
.color-1 {
  background: #ffd700;
}
.color-2,
.color-3 {
  background: #a52a2a;
}

.color-4 {
  background: #9b30ff;
}
